.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg-base);
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
}